/***********/
/* GENERAL */
/***********/

* {
    margin: 30;
    padding: 0;
    box-sizing: border-box;   
}

@font-face {
    font-family: BubbleShine;
    src: url(BubbleShine.otf);
}

body{    
    font-family: 'BubbleShine';
    font-weight: 300;
    width: 1000px;
  
    color: rgb(7, 7, 7);
}




/* Wrapper */
  .wrapper {
   background-image: url(img/cartoonfd.jpg);
   background-size: cover;
   background-repeat: no-repeat ;
   display: flex;
}

/* Panels */
.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

.col-sm-5{
    width:50%;
    height: auto;
}



/***********/
/* PLAYERS *
/***********/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 55px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { border: #eed7d7 solid; 
    filter: drop-shadow(2px 4px 6px black);
    
}
.active .player-name { font-weight: 300; }


.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -25px;
    right: 10px;
    
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    margin: 0 auto;
    text-align: center;
   
}
@media screen and (min-width: 768){
    .player-current-box
    .col-md-6{
        width: 120%;
    }
    
}


.player-current-label {
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 23px;
    color: #222;
    text-align: center;
}

.player-current-score {
    font-size: 35px;
}

/* Buttons */
button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(5, 5, 5);
    background: none;
    border: none;
    font-family: 'BubbleShine';
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

/* Icons */
i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

/* Specific buttons */
.btn-new { top: 130px;}
.btn-roll { top: 409px;
    animation: boum 3s infinite;
    left: 40%;}
.btn-hold { top: 467px;}
/* ******MODAL RULES***************** */
.rules{
    
        text-decoration: none;
        padding: 15px;
        background-color: #e0b5b5;
        border-radius: 5px;
        text-transform: uppercase;
        color: black;
      
}
.modal{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
     background: rgba(77, 77, 77, .7); 
    transition: all .4s;
   
   
}



.modal-content {
    border-radius: 4px;
     position: relative; 
    width: 500px;
    max-width: 90%;
    background: rgb(134, 199, 218);
    padding: 1.5em 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
    font-size: 18px;
    font-weight: bold;
   
    
   
  }
  
  .modal_close {
    position: absolute;
    top: 14px;
    right: 10px;
    color: rgb(241, 4, 4);
    text-decoration: none;
    font-size: xx-large;
  }
.modal:target{
    visibility: visible;
    opacity: 1;
}


/* Dice images */
.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

#dice1 { top: 210px; }


/* Winner status */ 
.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }

/* Winning score input */
#winningScore {
    position: absolute;
    top: 520px;
    left: 50%;
    text-transform: uppercase; 
    color: #555;
    font-size: 18px;
    font-family: 'BubbleShine';
    text-align: center;
    padding: 10px;
    width: 160px;
    transform: translateX(-50%);
}

#winningScore:focus { outline: none; }

/* **********ANIMATIONS********************** */
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}



    

@keyframes boum{
    0%{
        font-weight:inherit;
        transform: rotate(4deg);
    }
    50%{
        font-weight: bolder;
        transform: rotate(-4deg);
    }
    100%{
        font-weight: bold;
        transform: rotate(4deg);
    }
}
/*BUTTON SOUND,SONG DETAILS************/
 .musicb{
	cursor: pointer;
   display: flex;
    position: absolute;
    z-index: 2;
    left: 30%;
    width: 0px;
   
} 

